<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <img src="assets/imgs/admin.svg" class="mode_icon" float-end *ngIf="authentificationProvider.isAdmin()"/>
        <img src="assets/imgs/non_admin.svg" class="mode_icon" float-end *ngIf="!authentificationProvider.isAdmin()"/>
        <ion-title>
            MémoClasse
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content [class]="authentificationProvider.isAdmin() ? '' : 'sky'">
    <ion-grid>
        <ion-row>
            <ion-col col-12 *ngIf="authentificationProvider.isAdmin()">
                <div [class]="authentificationProvider.isAdmin() ? 'class classNotCloud' : 'class classCloud'" (click)="addClass()">
                    <div class="fullIcon">
                        <ion-icon name="add" class="class_new_icon" color="green"></ion-icon>
                    </div>
                    <div class="name" text-center>
                        Nouveau
                    </div>
                </div>
            </ion-col>
            <ion-col col-12 *ngFor="let class of classList;">
                <div [class]="authentificationProvider.isAdmin() ? 'class classNotCloud row' : 'class classCloud row'" (click)="selectClass(class)">
                    <div class="fullIcon" col-3>
                        <img *ngIf="profilPicture == null && class.profilPicture == null" src="assets/imgs/icon_liste_eleve.svg" alt="Class default logo"/>
                        <img *ngIf="class.profilPicture != null" [src]="class.profilPicture[0]" alt="Class logo"/>
                    </div>
                    <div class="name" text-center col-9>
                        <h2>{{ class.name }}</h2>
                        <p>{{ class.students.length }} élèves</p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<img src="assets/imgs/buisson.svg" id="grass" *ngIf="!authentificationProvider.isAdmin()"/>
