page-class-list {
    .sky {
        background-color: #ADEAFF;
        margin-bottom: 10%;
    }

    #grass{
        position: absolute;
        bottom: 0px;
        width:100%;
        z-index: 2;
    }

    .class {
        position: relative;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        text-align: center;
        margin-top: 7%;
    }

    .classCloud {
        background: white;
        border: 1rem solid transparent;
        border-image: url("../assets/imgs/nuage.svg") 5%;
        border-image-repeat: round;
        border-image-outset: 1rem;
    }

    .classNotCloud {
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 10px;
        box-shadow:0 7px 12px 0 rgba(0,0,0,0.1),0 4px 15px 0 rgba(0,0,0,0.10);
    }

    .class .name {
        //margin-left: 5%;
        //width: 90%;
        //height: 15%;
        //position: absolute;
        //bottom: 0;
        //white-space: nowrap;
        //overflow: hidden;
    }


    .class_new_icon {
        font-size: 115px;
        margin: auto;
    }

    .fullIcon {
        display: flex;
        height: 75%;
    }

    .class_icon {
        height: 90px;
        margin: auto;
    }

    ion-grid {
        margin-bottom: 140px;
    }

    .class {
        height: 140px;
    }

    @media (min-width: 768px) {
        .class {
            height: 170px;
        }
        ion-grid {
            margin-bottom: 170px;
        }
        .class_icon{
            height: 120px;
        }
    }

    @media (min-width: 992px) {
        .class {
            height: 180px;
        }
        .class_icon{
            height: 130px;
        }
        ion-grid {
            margin-bottom: 180px;
        }
    }
}
