stages:
  - analyze
  - build
  - test
  - deploy

analyze:
  stage: analyze
  only:
    - master
  script:
    - /opt/sonar/bin/sonar-scanner -Dsonar.projectKey=memoclasse -Dsonar.sources=. -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=lpdawin -Dsonar.login=1b8721d37581772df63ffc55d494c91c51ceea13

test:
  stage: test
  only:
    - master
  script:
    - npm install
    - npm run test

build:
  stage: build
  only:
    - master
  script:
    - npm install
    - ionic build

deploy_android:
  stage: deploy
  only:
    - schedules
    - tags
  script:
    - npm install
    - ionic cordova build android
    - ls -l .
    - date=$(date +%Y-%m-%d-%H-%M-%S)
    - mv ./platforms/android/app/build/outputs/apk/debug/app-debug.apk ./platforms/android/app/build/outputs/apk/debug/app-debug-$date.apk
    - ls ./platforms/android/app/build/outputs/apk/debug/
    - lftp -e "put ./platforms/android/app/build/outputs/apk/debug/app-debug-'$date'.apk" -u $USERNAME,$PASSWORD $HOST -p $PORT
    - echo $CI_BUILD_ID
  tags:
    - release

deploy_android:
  stage: deploy
  only:
    - tags
  script:
    - npm install
    - ionic cordova build android
    - ls -l .
    - date=$(date +%Y-%m-%d-%H-%M-%S)
    - mv ./platforms/android/app/build/outputs/apk/debug/app-debug.apk ./platforms/android/app/build/outputs/apk/debug/app-debug-$date.apk
    - ls ./platforms/android/app/build/outputs/apk/debug/
    - lftp -e "put ./platforms/android/app/build/outputs/apk/debug/app-debug-'$date'.apk" -u $USERNAME,$PASSWORD $HOST -p $PORT
    - echo $CI_BUILD_ID
  tags:
    - release

deploy_android_schedules:
  stage: deploy
  only:
    - schedules
  script:
    - npm install
    - ionic cordova build android
    - ls -l .
    - date=$(date +%Y-%m-%d-%H-%M-%S)
    - mv ./platforms/android/app/build/outputs/apk/debug/app-debug.apk ./platforms/android/app/build/outputs/apk/debug/app-debug-$date.apk
    - ls ./platforms/android/app/build/outputs/apk/debug/
    - lftp -e "put ./platforms/android/app/build/outputs/apk/debug/app-debug-'$date'.apk" -u $USERNAME,$PASSWORD $HOST -p $PORT
    - echo $CI_BUILD_ID
