page-home {

    .student {
        padding-top: 15px;
    }

    .student .card-title-md {
        font-size: 14px;
    }

    .student .card-content-md {
        padding: 8px 0px;
    }

    .student_icon {
        margin: 0 auto;
        width: 50%;
    }

    .student_new {
        vertical-align: middle;
        font-weight: bold;
    }

    .student_new .student_new_icon {
        text-align: center;
        width: 100%;
        font-size: 60px;
    }

    ion-card.student {
        height: 140px;
    }

    ion-card.student .name {
        margin-top: 5px;
    }

    @media (min-width: 768px) {
        ion-card.student {
            height: 170px;
        }
    }

    @media (min-width: 992px) {
        ion-card.student {
            height: 180px;
        }
        ion-card.student .name {
            margin-top: 10px;
        }
    }
}
