<ion-header>
    <ion-navbar>
        <button ion-button icon-only (click)="presentPopover($event)" color="green" clear float-start>
            <ion-icon name="menu" color="light"></ion-icon>
        </button>

        <img src="assets/imgs/professor.png" class="mode_icon" float-end *ngIf="authentificationProvider.isAdmin()"/>
        <img src="assets/imgs/student.png" class="mode_icon" float-end *ngIf="!authentificationProvider.isAdmin()"/>
        <ion-title style="line-height:45px;">
            {{ class.name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content [class]="authentificationProvider.isAdmin() ? '' : 'student-list'">
    <ion-searchbar placeholder="Rechercher un élève" (ionInput)="searchStudent($event)"></ion-searchbar>
    <ion-grid>
        <ion-row>
            <ion-col col-6 col-lg-2 col-sm-4 *ngIf="authentificationProvider.isAdmin()">
                <div [class]="authentificationProvider.isAdmin() ? 'student studentNotCloud' : 'student studentCloud'" (click)="addStudent()">
                    <div class="fullIcon">
                        <ion-icon name="add" class="student_new_icon" color="green"></ion-icon>
                    </div>
                    <div class="name" text-center>
                        Nouveau
                    </div>
                </div>
            </ion-col>
            <ion-col col-6 col-lg-2 col-sm-4 *ngFor="let student of class.students;">
                <div [class]="authentificationProvider.isAdmin() ? 'student studentNotCloud' : 'student studentCloud'" (click)="selectStudent(student)">
                    <div class="fullIcon">
                        <img src="assets/imgs/default_student_icon.png" class="student_icon" alt="Student default logo0"/>
                    </div>
                    <div class="name" text-center>
                        {{ student.firstname + " " + student.lastname }}
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<img src="assets/imgs/buisson.svg" id="buisson" *ngIf="!authentificationProvider.isAdmin()"/>
