<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <img src="assets/imgs/admin.svg" class="mode_icon" float-end alt="Teacher icon" *ngIf="authentificationProvider.isAdmin()"/>
        <img src="assets/imgs/non_admin.svg" class="mode_icon" float-end alt="Student icon" *ngIf="!authentificationProvider.isAdmin()"/>
        <ion-title style="line-height:45px;">
            MémoClasse - {{ class.name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content [class]="authentificationProvider.isAdmin() ? '' : 'sky'">
    <ion-searchbar placeholder="Rechercher un élève" (ionInput)="searchStudent($event)" *ngIf="authentificationProvider.isAdmin()"></ion-searchbar>
    <ion-grid>
        <ion-row>
            <ion-col col-6 col-lg-2 col-sm-4 *ngIf="authentificationProvider.isAdmin()">
                <div [class]="authentificationProvider.isAdmin() ? 'student studentNotCloud' : 'student studentCloud'" (click)="addStudent()">
                    <div class="fullIcon">
                        <ion-icon name="add" class="student_new_icon" color="green"></ion-icon>
                    </div>
                    <div class="name" text-center>
                        Nouveau
                    </div>
                </div>
            </ion-col>
            <ion-col col-6 col-lg-2 col-sm-4 *ngFor="let student of students;">
                <div [class]="authentificationProvider.isAdmin() ? 'student studentNotCloud' : 'student studentCloud'" (click)="selectStudent(student)">
                    <div class="fullIcon">
                        <img *ngIf="student.profilPicture == null" src="assets/imgs/eleve.svg" class="student_icon" alt="Student default logo"/>
                        <img *ngIf="student.profilPicture != null" [src]="student.profilPicture" class="student_icon" alt="Student default logo"/>
                    </div>
                    <div class="name" text-center>
                        {{ student.firstname + " " + student.lastname }}
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab right top margin *ngIf="authentificationProvider.isAdmin()" (click)="editClass()">
        <button ion-fab color="green">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
<img src="assets/imgs/buisson.svg" id="grass" *ngIf="!authentificationProvider.isAdmin()" alt="Grass"/>
