page-camera {
    .sky {
        background-color: #ADEAFF;
        margin-bottom: 10%;
    }

    #grass {
        position: absolute;
        bottom: 0px;
        width:100%;
        z-index: 2;
    }

    .icon_photo {
        width: 15%;
        padding: 0;
        margin: 0;
    }

    ion-grid{
        margin-top:56px;
    }

    .student_icon{
        border-radius: 15px;
    }

    .picture{
        height: 170px;
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
        margin-top: 12.5%;
        background: white;
        border: 1rem solid transparent;
        border-image: url("../assets/imgs/nuage.svg") 5%;
        border-image-repeat: round;
        border-image-outset: 1rem;
    }

    .fullIcon {
        display: flex;
        height: 100%;
    }

    #back {
        z-index: 3;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 15%;
        padding: 0;
        margin: 0;
        background-color: $green;
    }

    #take_picture {
        z-index: 3;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 15%;
        padding: 0;
        margin: 0;
        background-color: $green;
    }

    .scroll-content{
        margin-top: 0px !important;
    }

    @media (min-width: 768px) {
        ion-grid {
            margin-bottom: 180px;
        }
        .picture {
            height: 170px;
        }
    }

    @media (min-width: 992px) {
        ion-grid {
            margin-bottom: 190px;
        }
        .picture {
            height: 180px;
        }
    }
}