page-camera {

    #back {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 15%;
        padding: 0;
        margin: 0;
        background-color: #00b253;
    }

    #take_picture {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 15%;
        padding: 0;
        margin: 0;
        background-color: #00b253;
    }

    #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #picture {
        width: 20%;
        min-height: 100px;
        border: double;
    }

    .icon_photo {
        width: 15%;
        padding: 0;
        margin: 0;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 20;
        top: 0;
        left: 0;
    }

    .scroll-content{
        margin-top: 0px !important;
    }
}