<ion-header [hidden]="!isHide">
    <ion-navbar >
    	<button ion-button icon-only (click)="presentPopover($event)" color="green" clear float-start>
    		<ion-icon name="menu" color="light"></ion-icon>
    	</button>
		<ion-title style="line-height:45px;">
			MémoClasse
		</ion-title>
	</ion-navbar>
</ion-header> 

<ion-content padding>
    <ion-card>
        <ion-card-content id="container">
            <button id="back" ion-button (click)="closeCamera()" *ngIf="isHide == false"><img class="icon_photo" src="assets/imgs/back.svg" alt="Back"/></button>
            <div id="picture" (click)="startCamera(i)" *ngFor="let p of pictures; let i = index">
                <img [src]="pictures[i][0]" *ngIf="pictures[i]" />
            </div>
            <button id="take_picture" ion-button (click)="takePicture()" *ngIf="isHide == false"><img class="icon_photo" src="assets/imgs/photo.svg" alt="Photo"/></button>
        </ion-card-content>
    </ion-card>
</ion-content>