<ion-header [hidden]="!isHide">
    <ion-navbar>
        <ion-title>MémoClasse</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button id="back" ion-button (click)="closeCamera()" *ngIf="isHide == false">
        <img class="icon_photo" src="assets/imgs/back.svg" alt="Back"/>
    </button>
    <ion-content padding>
        <ion-grid>
            <ion-row class="student_add">
                <ion-col col-12 text-center class="title">
                    Nouvel(le) élève
                </ion-col>
                <ion-col col-12 col-lg-4 col-sm-5 class="content">
                    <div (click)="startCamera()">
                        <img *ngIf="profilPicture == null" src="assets/imgs/eleve.svg" alt="Student default logo"/>
                        <img *ngIf="profilPicture != null" [src]="profilPicture" alt="Student default logo"/>
                    </div>
                </ion-col>
                <ion-col col-12 col-lg-6 col-sm-7 offset-lg-1 class="content">
                    <ion-list>
                        <ion-item>
                            <ion-label stacked>Prénom</ion-label>
                            <ion-input type="text" value="{{ student.firstname }}" [(ngModel)]="student.firstname"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label stacked>Nom</ion-label>
                            <ion-input type="text" value="{{ student.lastname }}" [(ngModel)]="student.lastname"></ion-input>
                        </ion-item>

                        <ion-grid>
                            <ion-row>
                                <ion-item col-lg-6 col-12>
                                    <ion-label stacked>Adresse email n°1</ion-label>
                                    <ion-input type="email" value="{{ student.mails[0] }}" [(ngModel)]="student.mails[0]"></ion-input>
                                </ion-item>

                                <ion-item col-lg-6 col-12>
                                    <ion-label stacked>Adresse email n°2</ion-label>
                                    <ion-input type="email" value="{{ student.mails[1] }}" [(ngModel)]="student.mails[1]"></ion-input>
                                </ion-item>
                            </ion-row>
                        </ion-grid>

                        <ion-grid>
                            <ion-row>
                                <ion-col col-4>
                                    <button ion-button color="danger" (click)="back()">Annuler</button>
                                </ion-col>
                                <ion-col col-4 offset-3>
                                    <button ion-button color="green" (click)="addStudent()">Sauvegarder</button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
    <button id="take_picture" ion-button (click)="takePicture()" *ngIf="isHide == false">
        <img class="icon_photo" src="assets/imgs/photo.svg" alt="Photo"/>
    </button>
</ion-content>
