page-select-images {

}

#enfant{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#photo{
  width: 20%;
}

.check{
  width:30px;
  height: auto;
  float: right;
}

#button{
  width: 100%;
}
